.fifth-w-images-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 0;
  padding: 0 5rem;
}

.fifth-w-images-container .fifth-w-image {
  display: flex;
  justify-content: center;
}

.fifth-w-images-container .fifth-w-image img {
  width: 75%;
  cursor: pointer;
  border-radius: 3px;
}

.fifth-w-images-container .fifth-w-image:nth-child(1) {
  justify-content: end;
}

.fifth-w-images-container .fifth-w-image:nth-child(3) {
  justify-content: start;
}

@media (max-width: 768px) {
  .fifth-w-images-container {
    margin: 4rem 0;
    padding: 0 1rem;
    gap: 10px;
  }

  .fifth-w-images-container .fifth-w-image img {
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
  }
}
